<h1>{{t "auth.mail.accConf.title" "Account Confirmation"}}</h1>
<p>{{t "auth.mail.accConf.p1" "Please click on the below link to validate your email address:"}}</p>

<p> <a id="confirm" href="{{confirm_url}}"> {{t "auth.mail.accConf" "confirm Email"}} </a></p>


<p>{{t "auth.mail.accConf.deadLink" "if the link does not work, please copy this link into your browser:"}}</p>
<pre id="confirmalt">{{confirm_url}}</pre>