{{t "auth.mail.pwReset.title" "Password Reset"}}

{{t "auth.mail.pwReset.p1t" "Someone has requested a link to change your password. You can do this through the link below. Copy it and call this link with your web browser."}}
{{t "auth.mail.pwReset.p3t" "Your password won't change until you access the link and create a new one."}}
{{reset_password_url}}

{{t "auth.mail.pwReset.p2" "If you didn't request this, please let us know."}}