<h1>{{t "auth.mail.pwReset.title" "Password Reset"}}</h1>
<p>{{t "auth.mail.pwReset.p1" "Someone has requested a link to change your password. You can do this through the link below."}}</p>
<p>{{t "auth.mail.pwReset.p3" "Your password won't change until you access the link above and create a new one."}}</p>

<p><a href="{{reset_password_url}}">{{t "auth.mail.pwReset.link" "Reset password now"}}</a></p>
<p>{{t "auth.mail.pwReset.deadLink" "if the link does not work, please copy this link into your browser:"}}</p>
<pre>{{reset_password_url}}</pre>

<p>{{t "auth.mail.pwReset.p2" "If you didn't request this, please let us know."}}</p>
