/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}


@font-face {
  font-family: 'Titillium Web';
  font-weight: 700;
  font-style: normal;
  src: url(/fonts/titilliumweb-bold-webfont.eot);
  src: url(/fonts/titilliumweb-bold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/titilliumweb-bold-webfont.woff2) format('woff2'), url(/fonts/titilliumweb-bold-webfont.woff) format('woff'), url(/fonts/titilliumweb-bold-webfont.ttf) format('truetype'), url(/fonts/titilliumweb-bold-webfont.svg#titillium_webbold) format('svg')
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 300;
  font-style: normal;
  src: url(/fonts/titilliumweb-light-webfont.eot);
  src: url(/fonts/titilliumweb-light-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/titilliumweb-light-webfont.woff2) format('woff2'), url(/fonts/titilliumweb-light-webfont.woff) format('woff'), url(/fonts/titilliumweb-light-webfont.ttf) format('truetype'), url(/fonts/titilliumweb-light-webfont.svg#titillium_weblight) format('svg')
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/titilliumweb-regular-webfont.eot);
  src: url(/fonts/titilliumweb-regular-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/titilliumweb-regular-webfont.woff2) format('woff2'), url(/fonts/titilliumweb-regular-webfont.woff) format('woff'), url(/fonts/titilliumweb-regular-webfont.ttf) format('truetype'), url(/fonts/titilliumweb-regular-webfont.svg#titillium_webregular) format('svg')
}

@font-face {
  font-family: 'Titillium Web';
  font-weight: 600;
  font-style: normal;
  src: url(/fonts/titilliumweb-semibold-webfont.eot);
  src: url(/fonts/titilliumweb-semibold-webfont.eot?#iefix) format('embedded-opentype'), url(/fonts/titilliumweb-semibold-webfont.woff2) format('woff2'), url(/fonts/titilliumweb-semibold-webfont.woff) format('woff'), url(/fonts/titilliumweb-semibold-webfont.ttf) format('truetype'), url(/fonts/titilliumweb-semibold-webfont.svg#titillium_websemibold) format('svg')
}

@font-face {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(/fonts/Roboto-Thin.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-weight: 200;
  font-style: italic;
  src: local('Roboto ThinItalic'), local('Roboto-ThinItalic'), url(/fonts/Roboto-ThinItalic.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/Roboto-Light.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: italic;
  src: local('Roboto LightItalic'), local('Roboto-LightItalic'), url(/fonts/Roboto-LightItalic.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(/fonts/Roboto-Regular.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: italic;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(/fonts/Roboto-Italic.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(/fonts/Roboto-Medium.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: italic;
  src: local('Roboto MediumItalic'), local('Roboto-MediumItalic'), url(/fonts/Roboto-MediumItalic.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/Roboto-Bold.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: italic;
  src: local('Roboto BoldItalic'), local('Roboto-BoldItalic'), url(/fonts/Roboto-BoldItalic.ttf) format('truetype')
}

@font-face {
  font-family: 'Material Icons';
  font-weight: 400;
  font-style: normal;
  src: url(/fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/MaterialIcons-Regular.woff2) format('woff2'), url(/fonts/MaterialIcons-Regular.woff) format('woff'), url(/fonts/MaterialIcons-Regular.ttf) format('truetype')
}
