<div class="container">
<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-6 col-md">
      <h4>{{ t "about" }}</h4>
      <p>TODO</p>
    <small class="d-block mb-3 text-muted">cryptix 2018.</small>
    </div>

    <div class="col-6 col-md">
      <h5>{{ t "suggestedPubs" }}</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">TODO</a></li>
        <li><a class="text-muted" href="#">TODO</a></li>
        <li><a class="text-muted" href="#">TODO</a></li>
        <li><a class="text-muted" href="#">TODO</a></li>
      </ul>
    </div>

    <div class="col-6 col-md">
      <h4>{{ t "chooseLanguage" }}</h4>
      <select onchange="sysChangeLocale()" id="selectOpt">
        <option {{ if (eq current_locale "de-DE") }}selected{{end}} value="/switch_locale?locale=de-DE">Deutsch</option>
        <option {{ if (eq current_locale "en-US") }}selected{{end}} value="/switch_locale?locale=en-US">English</option>
      </select>
      <script lang="text/javascript">
        'use strict';
        function sysChangeLocale() {
          var myselect = document.getElementById("selectOpt");
          window.location = myselect.options[myselect.selectedIndex].value;
        }
      </script>
    </div>
  </div>
</footer>
</div>
