<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="robots" content="none">
  <meta name="googlebot" content="none,noarchive">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="icon" href="favicon.ico"> -->
  <title>SSB-PubMon Blog</title>

  <!-- Bootstrap core CSS -->
  <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
