    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Expand at md</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown04">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search">
        </form>
      </div>
    </nav>
<!--
  <div class="navbar  navbar-default yamm" role="navigation" id="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand home" href="/">
          <img src="/img/logo.png" alt="SSB-PubMon logo" class="hidden-xs hidden-sm">
          <img src="/img/logo-small.png" alt="SSB-PubMon logo" class="visible-xs visible-sm">
          <span class="sr-only">{{ t "navHome" }}</span>
        </a>
        <div class="navbar-buttons">
          <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">{{ t "navToggle" }}</span>
              <i class="fa fa-align-justify"></i>
          </button>
        </div>
      </div>

        <ul class="nav navbar-nav navbar-left">
              <li><a href="/overview">Overview</a></li>
	</ul>



      <div class="column column-4 header__func {{ if current_user }}header__func-login{{end}}">
        <ul class="nav navbar-nav navbar-right">
          {{ if current_user }}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.Email}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/admin">Admin</a></li>
              <li><a href="/account">Profile</a></li>
              <li><a href="/help">{{ t "layout.header_link.help" }}</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/auth/logout">{{ t "layout.header_link.logout" }}</a></li>
            </ul>
          </li>

          {{ else }}
          <li><a href="/auth/login">{{ t "layout.header_link.sign_in" "LOGIN"}}</a></li>
          <li><a href="/auth/register">{{ t "layout.header_link.register" "REGISTER" }}</a></li>
          {{ end }}

        </ul>
      </div>
    </div>

    </div>
  </div>
</div>
-->
