<!DOCTYPE html>
<html lang="{{current_locale}}">
    {{ render "partial/head" . }}
    {{ render "partial/scripts" . }}
<body>
  <div id="all">
    <header>
      {{ render "partial/nav" . }}
    </header>
    {{render "partial/flashmsgs" .}}

    {{yield}}

    {{ render "partial/footer" . }}
  </div>
</body>
</html>
